.hide {
    display: none;
}

.modal {
    position: absolute;
    width: 100%;
    height: 300%;
    background-color: rgba(0, 0, 0, 0.271);
    z-index: 7;
}

.modal-content {
    width: 900px;
    height: 500px;

    display: flex;
    align-items: center;
    gap: 40px;

    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 450px);

    background-color: #FFFFFF;
    border-radius: 9px;

    overflow: hidden;

}

.modal-close {
    width: 52px;
    height: 52px;
    position: fixed;
    top: calc(50% - 302px);
    right: calc(50% - 502px);

    border-radius: 50%;
    border-style: solid;
    border-color: #F1CDB3;
    background-color: #f1cdb33d;
    cursor: pointer;
}

.modal_text {
    width: 351px;
    height: 362px;

}

.modal_text ul {
    padding-top: 40px;
}

.modal_text h4 {
    padding-top: 15px;
}

.modal_text p {
    font-size: 13px;
    text-align: start;

    padding-top: 30px;
}

.modal_img img {
    width: 500px;
    height: 500px;
}

@media (max-width: 1000px) {

    .modal-content {
        width: 630px;
        height: 350px;
    
        display: flex;
        align-items: center;
        gap: 40px;
    
        position: fixed;
        top: calc(50% - 175px);
        left: calc(50% - 315px);
    
        background-color: #FFFFFF;
        border-radius: 9px;
    
        overflow: hidden;
    
    }

    .modal-close {
        width: 52px;
        height: 52px;
        position: fixed;
        top: calc(50% - 227px);
        right: calc(50% - 367px);
    
        border-radius: 50%;
        border-style: solid;
        border-color: #F1CDB3;
        background-color: #f1cdb33d;
        cursor: pointer;
    }

    .modal_text {
        width: 260px;
        height: 303px;
    }

    .modal_img img {
        width: 350px;
        height: 350px;
    }

    .modal_text p {
        font-size: 13px;
        text-align: start;
    
        padding-top: 15px;
    }

    .modal_text ul {
        padding-top: 0;
    }
    
}

@media (max-width: 700px) {
    .modal-content {
        width: 240px;
        height: 341px;
    
        display: flex;
        align-items: center;
        gap: 40px;
    
        position: fixed;
        top: calc(50% - 170px);
        left: calc(50% - 120px);
    
        background-color: #FFFFFF;
        border-radius: 9px;
    
        overflow: hidden;
    
    }

    .modal-close {
        width: 52px;
        height: 52px;
        position: fixed;
        top: calc(50% - 222px);
        right: calc(50% - 172px);
    
        border-radius: 50%;
        border-style: solid;
        border-color: #F1CDB3;
        background-color: #f1cdb33d;
        cursor: pointer;
    }

    .modal_text {
        width: 238px;
        height: 334px;
        text-align: center;
    }

    .modal_text p {
        padding-left: 10px;
    }

    .modal_text ul {
        text-align: start;
    }
}