body {
    max-width: 1280px;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6, button {
    font-family: Georgia, san-serif;
  }
  p, a {
    font-family: Aliel, san-serif;
    text-decoration: none;
  }
  button {
    text-decoration: none;
    color: #000;
  }

  /* -------------------Header style pets------------------------- */
  .header_pets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 120px;
    position: sticky;
    top: 0;

    background-color: white;
}

.burger-menu {
    position: relative;
    padding-right: 15px;
  }
  
  .menu {
    margin: 25px 25px 25px 0;
  }
  
  .menu-link {
    position: relative;
    display: inline-block;
    padding: 0;
    color: #545454;
    text-decoration: none;
  }
  
  .menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
  }
  
  .menu-link:hover::after {
    transform: scaleX(1);
  }
  
  #menu-toggle {
    display: none;
  }
  
  .logo_text {
    color: #FAFAFA;
    text-align: center;
  
  }
  
  .link a {
    text-decoration: none;
    color: #545454;
  }
  
  a:link {
    color: #F1CDB3;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .header_pets{
      max-width: 768px;
      z-index: 10;
    }
  }

@media (min-width: 431px){
    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      text-decoration: none;
      list-style-type: none;
    }
    
    .link {
      padding-left: 25px;

    }
}

/* -------------------Our Friends style Pets------------------------- */

.hide {
  display: none;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #CDCDCD;

}

.our-friends__text {
  width: 400px;
  height: 90px;
}

.friends__text {
  font-weight: 100;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

  color: #545454;
}

.our-friends__card {
  display: flex;
  align-items: center;

}

.wrapper {
  max-width: 1280px;
  /* height: 930px; */
  overflow: hidden;

}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  width: 1200px;

}

.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 9px;
  background-color: #FAFAFA;
}

.card img {
  margin-top: -21px;
}

.card__but {
  width: 187px;
  height: 52px;
  background-color: #ffffff;
  border-color: #F1CDB3;
  color: #000;
  border-radius: 30px;
  cursor: pointer;
  border-style: solid;
}

.card__but:active {
  background-color: #F1CDB3;
}

.modal {
  height: 100%;
}

.modal-close {
  top: 34%;
}

.pets__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 5%;
}

.pets-button {
  width: 52px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  border-radius: 50%;
  border-color: #F1CDB3;
  border-style: solid;
}

#counter {
  background-color: #F1CDB3;
}

@media (max-width: 768px) {

  .wrapper {
    max-width: 580px;
    overflow: hidden;
  
  }


  .slider {
    width: 580px;
    height: 1390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .item1 {
    order: 1;
  }
  .item2 {
    order: 2;
  }
  .item3 {
    order: 4;
  }
  .item4 {
    order: 5;
  }
  .item5 {
    order: 7;
  }
  .item6 {
    order: 8;
  }
  .item7 {
    order: 3;
  }
  .item8 {
    order: 6;
  }

}

@media (max-width: 586px) {
  .slider {
    width: 270px;
    height: 1390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 430px) {

  .wrapper {
    max-width: 320px;
    overflow: hidden;
  
  }


  .slider {
    width: 270px;
    height: 1390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .item1 {
    order: 1;
  }
  .item2 {
    order: 4;
  }
  .item3 {
    order: 7;
  }
  .item4 {
    order: 2;
  }
  .item5 {
    order: 3;
  }
  .item6 {
    order: 5;
  }
  .item7 {
    order: 6;
  }
  .item8 {
    order: 8;
  }

}

/* -------------------Footer style Pets------------------------- */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: end;
  min-height: 350px;

  background-image: url(img/start-screen-gradient-background.jpg);
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
  max-width: 1280px;
  height: 310px;
}

.contacts_info {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  width: 302px;
  height: 234px;
}

.contacts_info h3 {
  color: #FFFFFF;
  font-size: 30px;
  padding-bottom: 30px;
}

.contacts_info a {
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {

  /* -------------------Footer style------------------------- */
  .footer {
    max-width: 768px;
    height: auto;

}

.contacts {
    flex-wrap: wrap;
    gap: 30px;
    max-width: 768px;
    height: auto;
}

.contacts_info {
  max-width: 302px;
}

}
